<!--
 * @Author: yuszhou
 * @Date: 2022-10-13 15:56:20
 * @LastEditTime: 2022-10-17 11:10:38
 * @LastEditors: yuszhou
 * @Description: 打开当前界面通过拉起用户授权，并且获取code
 * @FilePath: \wechartNodeTc\views\index.ejs
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>Semence</title>
  <style>
    html,body{
      overflow: hidden;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      margin: 0px;
    }
    .errorData{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .errorData span{
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="errorData">
    <span></span>
  </div>
  <script>
    var host = 'https://713cd83b.r16.cpolar.top'
    var local = '/'
    var appId = 'wxdac7e4ec2a321ce9'
    function setStatus(status){
      $('.errorData span').html(status)
    }
    function checkIsWechartsResponse(){
      if(window.location.search == '') return false
      var autherCode = window.location.search.split('code=')[1].split('&')[0]
      return autherCode
    }
    function chechisWechartsEnv(){
      return /micromessenger/i.test(navigator.userAgent.toLowerCase())
    }
    function isloadingNow(){
      var loading = ['','.','..','...']
      var index = 0
      setInterval(function(){
        setStatus('正在登录中<span style="width=50px">'+loading[index]+'</span>')
        if(index == 3){
          index = 0
        }else{
          index ++
        }
      },500)
    }
    (function(){
      if(chechisWechartsEnv()){
        var code = checkIsWechartsResponse()
        if(code){
          isloadingNow()
          window.location.href = host+'/wechart/getwechartsUserInfo?code='+code
        }else{
          window.location.href =
                        "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" +
                        appId +
                        "&redirect_uri=" +
                        encodeURIComponent(host+local) +
                        "&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect";
        }
      }else{
        setStatus('抱歉！当前网页只能在微信公众号中打开')
      }
    })()
  </script>
</body>
</html>
